<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beautiful Soup Lab</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="static/index.js"></script>
    <link href="static/index.css" rel="stylesheet">
</head>
<body>
<h1>BeautifulSoup Lab</h1>
<p id="description">This is the final part of the BeautifulSoup sprint that we have
been working on in class. This site uses Python to scrape the information
from Indeed.com and compiles the information into a JSON file. That file
is then read by this website to be displayed here.</p>
<img src="static/uncc.jpeg" alt="uncc logo">
<h2>Job Details</h2>
<div id="jobs">
    <p>Loading...</p>
</div>

</body>
<footer>
    <p>Created by Luke Weisenhorn</p>
</footer>
</html>